<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="static/css/app.css" rel="stylesheet">
    
    <title>Bilibili System XFS</title>
    <link rel="shortcut icon" href="http://static.hdslb.com/images/favicon.ico">
    <!-- Bootstrap core CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="http://v3.bootcss.com/examples/carousel/carousel.css">
 -->
</head>
<!-- NAVBAR
================================================== -->

<body>
    <div class="navbar-default">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a class="navbar-brand">
                            <img alt="Brand" src="http://static.hdslb.com/images/favicon.ico">
                        </a>
                        <a class="navbar-brand" href="#">B站检索系统</a>

                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav ">
                            <li class="active"><a href="#">首页</a></li>
                            <li><a href="#system-info">数据说明</a></li>
                            <li><a href="#scrapy">爬虫架构</a></li>
                            <li><a href="#retrieval-model">检索模型</a></li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">更多信息<span
                                    class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="http://www.bilibili.com/">哔哩哔哩</a></li>
                                    <li><a href="http://snh48.com/">SNH48</a></li>
                                    <li><a href="http://space.bilibili.com/26480852">SNH48 TEAM NII</a></li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header">御三家 bilibili sp</li>
                                    <li><a href="#">黄婷婷</a></li>
                                    <li><a href="#">李艺彤</a></li>
                                </ul>
                            </li>

                        </ul>
                        <ul class="nav navbar-nav navbar-right">

                            <li><a href="#loginin">登陆</a></li>
                            <li><a href="#register">注册</a></li>

                        </ul>
                        <form class="navbar-form navbar-right" role="search" action="search.html">
                            <div class="form-group">
                                <input name="danmu" type="text" class="form-control" placeholder="黄婷婷"  value="黄宇直">
                                <span class="glyphicon glyphicon-search"></span>
                            </div>
                        </form>

                    </div>
                </div>
            </nav>
    </div>

    <!-- Carousel
================================================== -->
    <div class="row">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="static/img/bilibili-cover1.jpeg" alt="...">
                    <div class="carousel-caption">
                        <h3>
                        哔哩哔哩弹幕视频网 - ( ゜- ゜)つロ 乾杯~ - bilibili
                    </h3>
                        <p>
                            bilibili，也被称为哔哩哔哩或简称为B站，是中国大陆第二个弹幕视频网站，也是中国最大的同性交友网站，上海东方传媒（集团）有限公司旗下网站，其前身为视频分享网站Mikufans。Mikufans于2009年6月26日由⑨bishi创建，⑨bishi原为AcFun网友，由于当时AcFun网站在运行不稳定，故建立Mikufans为用户提供一个稳定的弹幕视频分享网站。该网站于2010年1月24日更名为bilibili，且拥有有别于AcFun等视频弹幕网站的弹幕系统。
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img src="static/img/snh-cover1.jpg" alt="...">
                    <div class="carousel-caption">
                        <h3>
                        一个人的叫单口相声，两个人的叫对口相声，三个人的叫群口相声，十几个人的叫team N2的MC
                    </h3>
                        <p>
                            当时招二期生，一群妹子不会化妆，没有舞蹈基础，唱歌也常常车祸现场，谁想不到这群普通人成了后来的踢恩兔。 如果说塞纳河是专门经营养成系偶像的话，恩队应该是最让粉丝们有养成感的一个队，从弱小变得强大，从无人问津变成群众喜爱的偶像。
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img src="static/img/snh-cover2.jpg" alt="...">
                    <div class="carousel-caption">
                        <h3>
                        相处时的青涩与笨拙，来往上的默契与自然，连分别都是因为真心。
                        真心换真心。所以觉得虐、觉得甜、觉得想要花钱，都是因为感同身受，理所当然。
                    </h3>
                        <p>
                            SNH48黄婷婷作为中国本土化大型女子偶像团体TEAM NII的副队长，是一位阳光开朗、工作敬业、拥有治愈性笑容、带着春天般温暖气息与梦幻仙气的少女。每次在舞台上，她都认真地对待表演，对待每一首歌。她是一枚行走的表情包，但是也拥有即便是表情包都能用来当壁纸的笑颜和美貌。SNH48第三届总选举第3名
                        </p>
                        <p>
                            李艺彤，1995年12月23日出生于陕西西安，现为SNH48 Team NII的成员，昵称为发卡，参与了《为你而歌》《非正式会谈》《夏日甜心》等综艺节目，拍摄过网剧《贴身校花》。李艺彤一开始是团队的替补成员，但她没有放弃，不断的提升自己，在每年一届的SNH48人气总选举中，从默默无名的替补到获得了第六名的好成绩，又一路冲锋杀到了第三，披荆斩棘，身穿战袍登上第二的宝座.
                        </p>
                    </div>
                </div>
                ...
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>

    <!-- /.carousel -->
    <!-- Marketing messaging and featurettes
================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="page-header">
                <h2 id="system-info">主要工具</h2>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="static/img/scrapy.png" alt="..." class="img-thumbnail img-responsive">
                    <div class="caption">
                        <h3>Scrapy</h3>
                        <p>
                            An open source and collaborative framework for extracting the data you need from websites. In a fast, simple, yet extensible way.</p>
                        <p><a href="https://www.scrapy.org/" class="btn btn-info" role="button">Learn More</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="static/img/whoosh.png" data-src="holder.js/300x300" alt="..." class="img-thumbnail img-responsive">
                    <div class="caption">
                        <h3>Whoosh</h3>
                        <p>
                            Whoosh was created by Matt Chaput. It started as a quick and dirty search server for the online documentation of the Houdini 3D animation software package. Side Effects Software generously allowed Matt to open source the code in case it might be useful to anyone else who needs a very flexible or pure-Python search engine (or both.</p>
                        <p><a href="http://whoosh.readthedocs.io/en/latest/" class="btn btn-info" role="button">Learn
                        More</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="static/img/dc.png" data-src="holder.js/300x300" alt="...">
                    <div class="caption">
                        <h3>DC</h3>
                        <p>dc.js is a javascript charting library with native crossfilter support and allowing highly efficient exploration on large multi-dimensional dataset (inspired by crossfilter's demo). It leverages d3 engine to render charts in css friendly svg format. Charts rendered using dc.js are naturally data driven and reactive therefore providing instant feedback on user's interaction. The main objective of this project is to provide an easy yet powerful javascript library which can be utilized to perform data visualization and analysis in browser as well as on mobile device.
                        </p>
                        <p><a href="http://dc-js.github.io/dc.js/" class="btn btn-info" role="button">Learn More</a></p>
                    </div>
                </div>
            </div>


        </div>
        <!-- /.row -->
        <!-- START THE FEATURETTES -->
        <hr class="featurette-divider">

        <div class="row">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                <div class="page-header panel-default">
                    <h2 id="data-info">数据说明</h2>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title panel-info">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                           aria-expanded="false" aria-controls="collapseTwo">
                            检索字段
                        </a>
                    </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <p><a href='http://search.bilibili.com/' target='_blank'>http://search.bilibili.com/</a></p>
                            <p>Bilibili的检索关键词字段包括</p>
                            <pre lang='html'>
&lt;li data-value=&quot;all&quot;&gt;综合&lt;/li&gt;
&lt;li data-value=&quot;video&quot;&gt;视频&lt;/li&gt;
&lt;li data-value=&quot;bangumi&quot;&gt;番剧&lt;/li&gt;
&lt;li data-value=&quot;tvplay&quot;&gt;影视&lt;/li&gt;
&lt;li data-value=&quot;live&quot;&gt;直播&lt;/li&gt;
&lt;li data-value=&quot;special&quot;&gt;专题&lt;/li&gt;
&lt;li data-value=&quot;topic&quot;&gt;话题&lt;/li&gt;
&lt;li data-value=&quot;upuser&quot;&gt;UP主&lt;/li&gt;
&lt;li data-value=&quot;drawyoo&quot;&gt;画友&lt;/li&gt;
</pre>
                            <p>由此可以看出，如果检索字段包括多个部分，如综合，视频等，可以检索不同的字段</p>
                            因此除了综合检索外，为了检索的完全性，我还使用了专题和话题集合的方式进行抓取。 例如
                            </p>
                            <p><a href='http://www.bilibili.com/sp/%25E9%25BB%2584%25E5%25A9%25B7%25E5%25A9%25B7' target='_blank'>http://www.bilibili.com/sp/%E9%BB%84%E5%A9%B7%E5%A9%B7</a></p>
                            <p>其包含了视频中包含TAG的href，然后将这个href放到需要抓取的url表中，</p>
                            <pre lang='SQL'>
INSERT IGNORE INTO need_crawl_url(aid,url,create_time) SELECT aid,video_url,crawler_time FROM query_table;
</pre>
                            <p>然后<code>python run_spider.py</code>便能够实现第一轮抓取，进一步的将人工筛选的query_tag进行query进一步得到query_table的数据，然后再将query_table放到need_crawl_url的表中，再启动爬虫，从need_crawl_url中抓取。可以循环进行，但是在本次项目中，最后的部分，应该包括如下：
                            </p>
                            <ol start=''>
                                <li>
                                    sp:黄婷婷
                                </li>
                                <li>
                                    query_word: 黄婷婷
                                </li>
                                <li>
                                    query_word: 人工筛选其他的表达黄婷婷的单词
                                </li>
                            </ol>
                            <p>进一步的我为了补充一些多一点的数据，抓了一些&quot;snh48&quot;和&quot;李艺彤&quot;tags的数据和其检索结果的数据。 事实上，可以关于SP，在bilibili的sitemap里有大量的涉及。将其抽取出来可以发现。
                            </p>
                            <p><a href='http://www.bilibili.com/sitemap/sp.xml' target='_blank'>http://www.bilibili.com/sitemap/sp.xml</a>
                            </p>
                            <p>
                                其涉及了大概3072个sp,我大概看了一下，确实和SNH48相关的不多，也就包括SNH48-汤敏、<strong>SNH48</strong>、SNH48-赵嘉敏、SNHELLO、<strong>黄婷婷</strong>、<strong>李艺彤</strong>。（2016年11月24日数据）
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                           aria-expanded="false" aria-controls="collapseTwo">
                            视频结构和弹幕获取
                        </a>
                    </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <p>事实上，开始的抓取的部分是没有视频的元数据的，而只有UCG的数据。这对于项目而言有巨大的打击。</p>
                            <p>因此我需要包含我抓取的视频的元数据的信息，这个部分是需要进行解析地址的。</p>
                            <p>而我参看了
                                <a href='#citation'>哔哩哔哩真实视频地址解析-初探</a>和<a href='#citation'>you-get</a>的bilibili部分，使用了其包含的APPKEY和编码方法。 大体上获取了元数据的信息。timelength是该元素最重要的信息，是以0.001s为单位的时间信息。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                           aria-expanded="false" aria-controls="collapseThree">
                            弹幕解析
                        </a>
                    </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <pre lang='undefined'>
&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;i&gt;&lt;chatserver&gt;chat.bilibili.com&lt;/chatserver&gt;&lt;chatid&gt;9728464&lt;/chatid&gt;&lt;mission&gt;0&lt;/mission&gt;&lt;maxlimit&gt;1000&lt;/maxlimit&gt;&lt;source&gt;e-r&lt;/source&gt;&lt;ds&gt;2367399877&lt;/ds&gt;&lt;de&gt;2367399877&lt;/de&gt;&lt;max_count&gt;1000&lt;/max_count&gt;
&lt;d p=&quot;241.298,5,25,16707842,1472831971,0,5d2ce950,2367399877&quot;&gt;啊黄的泪颜我来承包&lt;/d&gt;
&lt;/i&gt;
</pre>
                            <p>在上述的例子中,根据相关网站<a href='#citation'>弹幕信息</a>。
                                <d>标签确定了一个弹幕信息，text部分显然是数据 第一项是弹幕所在时间，单位为秒。 第二项是弹幕类型，其中:
                            </p>
                            <ol start=''>
                                <li>
                                    1~3 为滚动弹幕
                                </li>
                                <li>
                                    4 为底端弹幕
                                </li>
                                <li>
                                    5 为顶端弹幕
                                </li>
                                <li>
                                    6 为逆向弹幕
                                </li>
                                <li>
                                    7 为精确弹幕
                                </li>
                                <li>
                                    8 为高级弹幕。
                                </li>
                            </ol>
                            <p>第三项是弹幕字体大小，其中 25 为中，18 为小。</p>
                            <p>第四项是弹幕颜色，格式是十进制的 RGB 颜色。</p>
                            <p>第五项是弹幕的发送时间，使用的是 Unix 时间戳。</p>
                            <p>第六项是弹幕池，其中 0 为普通弹幕，1 为字幕弹幕，2 为特殊弹幕。</p>
                            <p>第七项是发送者的 ID 的 CRC32b 加密，可以用来屏蔽发送者。详细参考</p>
                            <p>第八项是弹幕在数据库的 ID ，可能是用于历史弹幕。</p>
                            <p>有上面的解析，可以看出，讨论分析的部分包括：弹幕随着视频出现的时间的分布情况，弹幕类型的占比情况，颜色，发送的时间相比视频的上传时间等分析。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row introduction">

            <div class="page-header panel-default">
                <h3>相关信息</h3>
            </div>

            <div class="col-md-7">
                <h2 class="featurette-heading">SNH48 </span></h2>
                <p class="lead">
                    SNH48是由上海丝芭文化传媒有限公司打造的中国本土化大型女子偶像团体，取“上海”的“ShangHai”的拼音缩写从而组成“SNH48”，于2012年10月14日正式成立，有101名正式成员，分为SNH48 Team SII、SNH48 Team NII、SNH48 Team HII、SNH48 Team X、SNH48 Team XII五个队伍。2016年4月20日，SNH48姐妹团体BEJ48、GNZ48正式成立，BEJ48有35名正式成员，分为BEJ48 Team B、BEJ48 Team E两个队伍；GNZ48有33名正式成员，分为GNZ48 Team G、GNZ48 Team NⅢ两个队伍。BEJ48、GNZ48与SNH48统称为“SNH48团体”。</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" src="static/img/zp_1.jpg" alt="Generic placeholder image">
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row introduction">
            <div class="col-md-5">
                <!--<img class="featurette-image img-responsive" data-src="holder.js/500x500/auto"-->
                <!--alt="Generic placeholder image">-->
                <embed height="415" width="480" quality="high" allowfullscreen="true" type="application/x-shockwave-flash" src="http://static.hdslb.com/miniloader.swf" flashvars="aid=5571873&page=1" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash"></embed>



            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading">黄婷婷 </span>
            </h2>
                <p class="lead">


                    SNH48黄婷婷作为中国本土化大型女子偶像团体TEAM NII的副队长，是一位阳光开朗、工作敬业、拥有治愈性笑容、带着春天般温暖气息与梦幻仙气的少女。每次在舞台上，她都认真地对待表演，对待每一首歌。她是一枚行走的表情包，但是也拥有即便是表情包都能用来当壁纸的笑颜和美貌。SNH48第三届总选举第3名

                </p>
                <img src="http://ww3.sinaimg.cn/crop.0.0.920.300/d3700cf7gw1eyljji60n6j20pk08cq4r.jpg" class="img-rounded img-responsive" alt=""/>
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row introduction">
            <div class="col-md-7">
                <h2 class="featurette-heading">李艺彤</h2>
                <p class="lead">李艺彤，1995年12月23日出生于陕西西安，现为SNH48 Team NII的成员，昵称为发卡，参与了《为你而歌》《非正式会谈》《夏日甜心》等综艺节目，拍摄过网剧《贴身校花》。李艺彤一开始是团队的替补成员，但她没有放弃，不断的提升自己，在每年一届的SNH48人气总选举中，从默默无名的替补到获得了第六名的好成绩，又一路冲锋杀到了第三，披荆斩棘，身穿战袍登上第二的宝座.
                </p>

                
                <img src="http://ww4.sinaimg.cn/crop.0.0.920.300/c56478f8jw1f9psjs1lcsj20pk08cjt5.jpg" class="img-rounded img-responsive" alt=""/>
            </div>
            <div class="col-md-5">
               

               <embed height="415" width="480" quality="high" allowfullscreen="true" type="application/x-shockwave-flash" src="http://static.hdslb.com/miniloader.swf" flashvars="aid=4733464&page=1" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash"></embed>


            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row">
            <div class="page-header panel-default">
                <h2 id="retrieval-model">检索模型与可视化</h2>
            </div>


            <div class="col-sm-6 col-md-6">
                <div class="thumbnail">
                    <img src="static/img/whoosh.png" data-src="holder.js/300x300" alt="..." class="img-thumbnail img-responsive">
                    <div class="caption">
                        <h3>Whoosh</h3>
                        <h3>索引字段</h3>
                        <p>检索使用的工具是<a href='https://pypi.python.org/pypi/Whoosh/'>Whoosh</a> 该检索工具包含了全文检索，可以定义需要检索的字段，其可包括的类型如下：
                        </p>
                        <ul>
                            <li>
                                whoosh.fields.TEXT</li>
                            <li>
                                whoosh.fields.KEYWORD</li>
                            <li>
                                whoosh.fields.ID</li>
                            <li>
                                whoosh.fields.STORED</li>
                            <li>
                                whoosh.fields.NUMERIC</li>
                            <li>
                                whoosh.fields.DATETIME</li>
                            <li>
                                whoosh.fields.BOOLEAN</li>
                            <li>
                                whoosh.fields.NGRAM</li>
                        </ul>
                        <p>而在本项目中，可以检索包括评论信息和弹幕信息，在项目展示时，展示弹幕检索。 弹幕检索可以包含多个字段，字段可以包括：出现时间、弹幕类型、弹幕字体、弹幕颜色、弹幕发送时间、弹幕池等，而在本项目展示时，只设计了出现时间、弹幕类型和弹幕内容的字段，其他的字段也有重要的作用，但是由于机器资源的问题，还是将所有的内容视为一个视频的文本进行检索。也展示不涉及时间。
                        </p>
                        <p>检索包括：弹幕检索、评论信息（暂无）</p>
                        <p>弹幕检索呈现的特点是短文本，如果将每个弹幕视为一个检索文档，则会出现文档太多，词项分布将会异常稀疏，因此本项目在该弹幕检索系统的考虑上， 将一个视频的所有的弹幕视为该视频弹幕文档，对弹幕文档建立索引进行检索。字段还包括弹幕的数量，弹幕的最大数量等。</p>
                        <h3>结果排序</h3>
                        <p>whoosh的排序方法包括：</p>
                        <ol start=''>
                            <li>
                                BM25F（B=0.75, K1=1.2）</li>
                            <li>
                                TF_IDF</li>
                            <li>
                                Frequency</li>
                        </ol>
                        <p>默认使用BM25F方法，BM25算法，通常用来作搜索相关性评分。一句话概况其主要思想：对Query进行语素解析，生成语素q_i；然后，对于每个搜索结果D，计算每个语素q_i与D的相关性得分，最后，将q_i相对于D的相关性得分进行加权求和，从而得到Query与D的相关性得分。 BM25算法的一般性公式如下：
                        </p>
                        <p><img src='http://luokr.com/upload/2013/12/31/468a/46e5dffc4447fe0555adbd243d0ed98a.gif' alt='' /></p>
                        <p>其中，Q表示Query，q_i表示Q解析之后的一个语素（对中文而言，我们可以把对Query的分词作为语素分析，每个词看成语素q_i。）；d表示一个搜索结果文档；Wi表示语素q_i的权重；R(q_i，d)表示语素q_i与文档d的相关性得分。 BM25算法的相关性得分公式可总结为：
                        </p>
                        <p><img src='http://luokr.com/upload/2013/12/31/3196/31e78a56c620e2ca1d2e6a8a956c3296.gif' alt='' /></p>
                        <p>K的定义中可以看到，参数b的作用是调整文档长度对相关性影响的大小。b越大，文档长度的对相关性得分的影响越大，反之越小。而文档的相对长度越长，K值将越大，则相关性得分会越小。现有的实验数据表明，k1的取值为1.2~2，B的取值为0.75有好的效果。</p>
                        <p>在本项目中，由于检索的结果可能出现在许多的文档中，并且人们应该期望那些弹幕相对比较多的视频，应该将弹幕数量多的放在文档中，因此，我认为应该将弹幕文档的长度纳入考虑中。因此，本文在使用BM25算法那时，将b设置在为0，并且进一步的将弹幕长度也作为排序的一个指标。权重是我自己的设定的。</p>

                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-6">
                <div class="thumbnail">
                    <img src="static/img/dc.png" alt="..." class="img-thumbnail img-responsive">
                    <div class="caption">

                        <h3>D3</h3>
                        <p>对于视频而言，最重要的可视化信息是弹幕的分布，然后是弹幕的类型</p>
                        <p>d3的学习曲线确实比较陡，因为它的思想和我们通常绘图的方式不大一样：</p>
                        <ul>
                            <li>它是声明式的，不是命令式的.
                                <br/>d3的第一个核心是：数据驱动的dom元素创建，把这个思想上的弯绕过来，掌握1/3了</li>
                            <li>它是数据处理包，不是图形绘制包
                                <br/> d3的第二个核心是：它的大量的api，提供的是对数据的转换与处理，无论是scale、layout还是svg.line等，都仅仅是对数据的处理，和绘制图形与DOM操作没有半毛关系。把这个思想上的弯绕过来，又掌握1/3了
                            </li>
                            <li>它的api通常返回的是一个函数，这个函数的具体功能，通过函数对象的方法约定。
                                <br/> d3的javascript写法不是那么符合常人的逻辑，比如：调用d3.svg.line()，这个我们获得的是一个line函数，作用是把原始数据转化成svg的path元素的d属性需要的字符串，如果连起来写的话是这样： var nd=d3.svg.line()(data); 这样获得的nd才是可以塞给path的d属性的东西。把这个思想上的弯绕过来，又掌握1/3的

                            </li>
                        </ul>
                        <p>对于一个特点的视频，得到其视频的弹幕分布图，和弹幕详细的统计图</p>
                        <img src="https://camo.githubusercontent.com/a39baa6988c5d1975184ae4181684e304ac1b121/687474703a2f2f7777332e73696e61696d672e636e2f6c617267652f3030364337334d556a7731666137796731396c38346a33306e713061346d79792e6a7067" class="img-rounded img-responsive" alt="">

                        <h3>DC</h3>
                        <p>
                            dc.js 是个 JavaScript 图表库，有着原生的 crossfilter， 支持和允许高效展示大型多维数据集（基于 crossfilter 的示例）；图表使用 dc.js 渲染，是使用原生数据驱动，所以能得到用户的实时反馈；
                        </p>
                        <p>dc.js 最大的亮点在于能提供一个简单而强大的 JavaScript 库，能进行数据可视化和分析；不仅支持桌面浏览器还支持移动端。
                        </p>
                        <p>在这个部分，我将数据和图标捆绑起来，将视频划分为100份，统计每一分下的数据的频率分布。使用了bar、linebar和表格来实现。
                        </p>
                        <img src="http://ww2.sinaimg.cn/mw690/006C73MUjw1fa9ex45bg1j30tz0k7ai8.jpg" class="img-rounded img-responsive" alt="">

                    </div>
                </div>
            </div>

        </div>

        <!-- /END THE FEATURETTES -->
        <!-- FOOTER -->
        <footer>
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2016 黄俊杰. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>
    </div>
    <!-- /.container -->
    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="static/bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
</body>

</html>